<div class="episode-box col-10 offset-1">
<h1>Enter a New Episode</h1>
<%= simple_form_for @episode do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :date %>
  <br />
  <%= f.submit 'Create', class: 'btn btn-primary' %>
<% end %>
</div>