<!DOCTYPE html>
<html>
  <head>
    <title>Fotf</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  

<nav class="navbar navbar-light bg-light justify-content-center">
  <a class="navbar-brand" href='#'>Flight of The Fallingstar</a>
</nav> 


<!-- As a heading -->

<!-- <nav class="navbar navbar-light bg-light justify-content-center">
  <div class="h1" class="navbar-brand mb-0">Flight of The Fallingstar</div>
</nav> -->


<ul class="nav justify-content-center">
  <li class="nav-item">
    <%= link_to 'About', '#', class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to 'Illustrations', '#', class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to 'Passenger Manifest', '#', class: 'nav-link' %>
  </li>
</ul>


    <br class="clear" />


    <%= yield %>
  </body>
</html>
